<h3>Welcome to the Legand of the Sphinx</h3>

<form action="/">
  <div class="form-group">
    <label for="question"><%= @question %></label>
    <input id="answer" type="text" name="answer">
    <input id='secret' type='hidden' name='secret' value="<%= @question %>">
  </div>
  <button type="submit" class="btn-alert">Are you sure that is the answer you want?!</button>
</form>
