<h3>QUESTION 2!</h3>

<form action=<%= @change_view %> method="post">
  <div class="form-group">
    <label for="question"><%= @question %></label>
    <input id="answer" type="text" name="answer">
    <input id='secret' type='hidden' name='secret' value="<%= @secret %>">
  </div>
  <button type="submit" class="btn-alert">Are you sure that is the answer you want?!</button>
</form>
